#contato {
  padding: 60px 0px 60px 0px;
  background-color: #fafafa;
}

#contact-all {
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

.form-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #fff;
  color: black;
  width: 90%;
  padding: 0px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;
  background-color: black;
  color: #fff;
  border-radius: 20px 0px 0px 20px;
}

.contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info h2 {
  font: 500 1.5rem/1.25 "Comfortaa", sans-serif;
}
.contact-info ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.contact-info ul li i {
  font-size: 24px;
}

.social-contact {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: center;
}

.social-contact i {
  font-size: 32px;
  color: #fff;
}

.forms {
  padding: 60px;
}

.form-control:focus {
  box-shadow: none;

  border: 1px solid #000;
}

.send-message .btn-acess {
  max-height: 48px;
}

label {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

@media (max-width: 992px) {
  #contato {
    padding: 60px 20px 60px 20px;
  }
  .form-card {
    grid-template-columns: 1fr;
  }
  .contact-info {
    border-radius: 0px 0px 20px 20px;
    grid-row: 2;
  }
}

@media (max-width: 800px) {
  .forms {
    padding: 40px;
  }
  .contact-info {
    padding: 40px;
  }
  .social-contact i {
    font-size: 28px;
    color: #fff;
  }
}

@media (max-width: 380px) {
  .forms {
    padding: 20px;
  }
  .contact-info {
    padding: 20px;
  }
}
