.toggle-switch {
  position: absolute;
  right: 10%;
  top: 100px;
  cursor: pointer;
  width: 60px;
  height: 30px;
  --dark: #000000;
  --light: #ffffff;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider-mode {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--light);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider-mode::before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Introduction */
body.dark-mode #introduction {
  background-color: #121212;
}

body.dark-mode .btn-acess {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode .title h1::before {
  content: url(../img/icons/detalhe-icon-dark.svg);
}

body.dark-mode .btn-acess:hover {
  background-color: #dadada;
}

body.dark-mode .btn-acess img {
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
}

body.dark-mode #introduction-icons a img {
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
}

/* About */
body.dark-mode #about {
  background-color: #171717;
}

body.dark-mode .skills-card {
  background: #000000;
}

body.dark-mode .skills-card > div {
  color: #d8d8d8;
}

body.dark-mode .apresentation-card {
  background: #000000;
}

body.dark-mode .apresentation-card img {
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
}

body.dark-mode .apresentation-card h3 {
  color: #ffffff;
}

body.dark-mode .apresentation-card h4 {
  color: #ddd;
}

/* Qualification */
body.dark-mode #qualification {
  background-color: #121212;
}

body.dark-mode .slide-container-course {
  background-color: #000000;
}

body.dark-mode .course-list li {
  color: #d8d8d8;
}

body.dark-mode .course-list li a img {
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
}

/* Projects */
body.dark-mode #projects {
  background: #171717;
}

body.dark-mode .infos-projects {
  background: #000000;
}

body.dark-mode .infos-projects h2 {
  color: #ffffff;
}

body.dark-mode .more-details {
  background-color: #121212;
}

/* Contact */
body.dark-mode #contato {
  background-color: #121212;
}

body.dark-mode .send-message .btn-acess {
  background-color: #000000;
  color: #ffffff;
}

body.dark-mode .send-message .btn-acess:hover {
  background-color: #141414;
}

body.dark-mode .send-message .btn-acess img {
  filter: none;
}

/* Fonts */
body.dark-mode .title h1 {
  color: #ffffff;
}

body.dark-mode .title h2 {
  color: #f2f2f2;
}

body.dark-mode .custom-p {
  color: #ddd;
}

body.dark-mode .section-title h1 {
  color: #ffffff;
}

body.dark-mode .section-title h2 {
  color: #ddd;
}

body.dark-mode .section-title h3 {
  color: #ffffff;
}

body.dark-mode .section-title h4 {
  color: #ddd;
}
