#footer {
  padding: 20px 0px 20px 0px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Comfortaa";
}

#footer-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
