* {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  scroll-padding-top: 75px;
}

ul {
  padding-inline-start: 0px;
}

button {
  border: none;
}

h2{
  margin-bottom: 0px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
