#introduction {
 padding: 120px 0px 120px 0px;
 background-color: #fafafa;
}

#introduction-img img {
  display: block;
  width: 100%;
  border-radius: 73% 27% 71% 29% / 27% 74% 26% 73%;
}

#introduction-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.btn-acess {
  max-width: fit-content;
 height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 20px;
  border-radius: 4px;
  background-color: #141414;
  color: #fafafa;
  font: 500 1rem/1.33 "Comfortaa", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-acess:hover{
  background-color: #242424;
}



@media (max-width: 992px) {
  #introduction {
 padding: 80px 0px 80px 0px;
    
  }

  #introduction-all {
    gap: 20px;
  }

  #introduction-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #introduction-img img {
    width: 60%;
  }

  #introduction-icons {
    flex-direction: row;
  }

  #introduction-infos {
    justify-items: center;
    text-align: center;
  }

 
}

@media (max-width: 480px) {

  .btn-acess {
    gap: 16px;
    padding: 14px;
    font-size: 0.875rem;
  }

  .btn-acess img{
    width: 17.5px;
  }
}


