#projects {
  margin: 0 auto;
  max-width: 1400px;
  padding: 60px 40px 60px 40px;
  background: #f5f5f5;
  overflow: hidden;
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
body {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Card */
.slide-card {
  display: grid;
  justify-content: center;
  grid-template-columns: 7fr 5fr;
  gap: 20px;
  padding: 40px;
  border-radius: 20px;
}

/* Infos */
.infos-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.infos-projects h2 {
  font: 500 2rem/1.25 "Comfortaa", sans-serif;
  padding-top: 20px;
}
.infos-projects p {
  padding: 0px 20px;
}
.infos-projects ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px;
}
.infos-projects ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 1.125rem/1.25 "Roboto", sans-serif;
}

.more-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #000000;
  border-radius: 0px 0px 20px 20px;
  padding: 0px 20px;
}

.acess-details {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.acess-details img {
  width: 32px;
}

.acess-details{
  transition: transform 0.2s ease-in-out;
}

.acess-details:hover{
  transform: scale(1.1);
}

/* Slide */
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slider-img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}
.slide-buttons {
  display: flex;
  gap: 40px;
}

.slide-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #000000;
  border-radius: 50%;
}

.slide-buttons button:hover {
  background: #242424;
}
.slide-buttons button img {
  width: 24px;
  height: auto;
}
/* Animação */
.infos-projects {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.infos-projects.show {
  opacity: 1;
  transform: translateX(0);
}

.infos-projects li img{
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.infos-projects li img:hover{
  transform: translateY(-5px) scale(1.1);
}

.slider-img {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.slider-img.show {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1024px) {
  .slide-card {
    display: flex;
    flex-direction: column;
  }
  .custom-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .slide-card {
    padding: 20px;
  }
  .infos-projects{
    gap: 20px;
  }
  .infos-projects h2 {
    font: 500 1.5rem/1.25 "Comfortaa", sans-serif;
  }
  .infos-projects p {
    font-size: 1rem;
  }

  .infos-projects ul {
    display: flex;
    gap: 20px;
  }
  .infos-projects ul li {
    font: 400 1rem/1.25 "Roboto", sans-serif;
  }
  .infos-projects ul li img {
    width: 32px;
  }
  .slide-buttons button {
    width: 28px;
    height: 28px;
  }

  .slide-buttons button:hover {
    background: #242424;
  }
  .slide-buttons button img {
    width: 20px;
    height: auto;
  }
  .acess-details img {
    width: 28px;
  }
}

@media (max-width: 400px) {
  #projects {
    padding: 60px 0px 60px 0px;
  }
  .slide-card {
    padding: 10px;
  }
  .infos-projects ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .infos-projects ul li img {
    width: 28px;
  }
}
