#qualification {
  padding: 60px 0px 60px 0px;
  background-color: #fafafa;
}

#qualification-all {
  gap: 60px;
  justify-content: center;
  row-gap: 80px;
}

.slide-container-course {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 32px;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 400 1.25rem/1.8 sans-serif;
  color: #292929;
}
.course-list li a {
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.course-list li a:hover {
  transform: translateY(-5px) scale(1.1);
}

.carousel-indicators [data-bs-target] {
  background-color: black;
}
.carousel-indicators {
  margin-bottom: 0.25rem;
}

@media (max-width: 580px) {
  #qualification {
    padding: 60px 20px 60px 20px;
  }
  #qualification-all {
    gap: 40px;
  }

  .slide-container-course {
    padding: 20px;
  }

  .course-list {
    gap: 18px;
  }

  .course-list li {
    font: 400 1.125rem/1.8 sans-serif;
  }

  .course-list li img {
    max-width: 32px;
  }
}

@media (max-width: 480px) {
  .course-list li img {
    max-width: 28px;
  }
  .course-title h3 {
    font-size: 1.33rem;
  }
  .course-title h4 {
    font-size: 0.875rem;
  }
}

@media (max-width: 380px) {
  .course-list li {
    font-size: 0.875rem;
  }

  .course-list li img {
    max-width: 24px;
  }
}
